[mysqld]
port 				= 3306
bind-address			= 0.0.0.0
basedir				= /usr/local/mysql
datadir				= /data/mysql/3306/data
socket				= mysql.sock

character-set-client-handshake 	= FALSE
character-set-server 		= utf8mb4
collation-server 		= utf8mb4_unicode_ci
default-storage-engine		= INNODB

server-id			= 1
auto_increment_offset 		= 1
auto_increment_increment 	= 3

skip-name-resolve 
max_allowed_packet		= 4M
max_connections			= 200

sync_binlog			= 1
binlog_format			= row
innodb_buffer_pool_size		= 4G 
log-bin				= ../arch/mysql-bin
expire_logs_days 		= 7
max_binlog_size 		= 100M

gtid-mode                       = on
enforce_gtid_consistency        = 1
log-slave-updates 		= 1

relay-log  			= ../arch/relay-log
relay-log-index 		= ../arch/relay-log.index
relay_log_info_file		= ../arch/relay-log.info
relay_log_purge 		= 0

# slave
slave-parallel-type		= LOGICAL_CLOCK
slave-parallel-workers		= 4
master_info_repository		= TABLE
relay_log_info_repository	= TABLE
relay_log_recovery 		= ON

#other logs
general_log 			= 0
general_log_file  		= ../log/general_log.err
slow_query_log			= 1
slow_query_log_file		= ../log/slow_log.err


[mysqld_safe]
log-error			= ../log/mysql.log
pid-file			= mysql.pid

[mysql]
default-character-set 		= utf8mb4

