[mysqld]
port =3306
bind-address	=0.0.0.0
basedir		=/usr/local/mysql
datadir		=/opt/mysql/mysql3306/data
socket		=/opt/mysql/mysql3306/data/mysql.sock

character-set-client-handshake 	=FALSE
character-set-server 		=utf8mb4
collation-server 		=utf8mb4_unicode_ci
default-storage-engine		=INNODB

[mysqld_safe]
log-error	=/opt/mysql/mysql3306/log/mysql.log
pid-file	=/opt/mysql/mysql3306/data/mysql.pid

[mysql]
default-character-set = utf8mb4

[mysql_upgrade]

[mysqladmin]

[mysqlbinlog]

[mysqlcheck]

[mysqldump]

[mysqlimport]

[mysqlshow]

[mysqlslap]

 
